:root {
  --primary: #ffe81f;
  --click: #7C1292;
  --border: #e7b707;
  --secundarioOscuro: #d3a500;
  --blanco: #fff;
  --oscuro: #000;
  --fuentePrincipal: 'Staatliches', cursive;

}


HomeCard {
  width: 27rem;
  height: 26rem;
  text-align: center;
  border-radius: 8px;
  border: 4px ridge #616161;
}

#text-area {
  background: url(https://fixthephoto.com/images/content/starry-night-sky-png-61616514258.jpg)
    center center no-repeat;
  background-size: cover;
}

#img-space {
  height: 18rem;
  border-bottom: 2px solid #616161;
}

#img-space img {
  object-fit: cover;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#title {
  font-size: 30px;
  color: var(--primary);
  text-shadow: 2px 2px 2px black;
}

.exploreButton {
  font-weight: 600;
  border: 2px solid var(--border);
  height: 3rem;
  color: var(--primary);
  background-color: black;
  text-shadow: 2px 2px 2px black;
}

.exploreButton:hover{
border: 2px solid black;
color: black;
background-color: var(--primary);
-webkit-box-shadow: 0px 0px 19px 2px rgba(231, 166, 26, 1);
-moz-box-shadow: 0px 0px 19px 2px rgba(231, 166, 26, 1);
box-shadow: 0px 0px 19px 2px rgba(231, 166, 26, 1);
text-shadow: 2px 2px 2px yellow;
}
