#red {
    -webkit-box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    -moz-box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    }

#green {
    -webkit-box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    -moz-box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    }

#blue {
    -webkit-box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    -moz-box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    box-shadow: 10px 10px 125px 0px rgba(250,247,250,1);
    }